# Development environment variables
# Copy this to .env and adjust as needed for local development

VITE_API_KEY=c0221589-ca50-4518-9182-615460a3b241
VITE_DEFAUTLT_AVATAR=./resources/images/avatar.jpg
VITE_DEFAUTLT_AVATAR_THUMB=./resources/images/avatar_thumb.jpg
