
# --- General Network Configuration ---
MAZAD_IP=localhost #Or Your Domain Name
VITE_MAZAD_IP=${MAZAD_IP}

# --- Database (PostgreSQL) ---
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password
DB_URL=jdbc:postgresql://postgres:5432
PGDATA=/data/postgres

# --- Global Secrets & Settings ---
DEFAULT_BALANCE=402

# --- Redis Configuration ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- Items Service ---
ITEMS_DB_NAME=items_db

# --- Bidding Service ---
BID_DB_USER=your_db_user
BID_DB_PASSWORD=your_bidding_db_password
BID_DB_NAME=bidding_db

# --- Auth Service ---
AUTH_DB_NAME=auth-db
AUTH_SECRET_KEY=generate_a_long_random_string_here # Or run this 'make jwt-secret-key' and copy paste it
ACCESS_TOKEN_MIN=15 # Expiration in minutes
REFRESH_TOKEN_DAY=7 # Expiration in days

# Get your Google OAuth credentials at https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Get your 42 Network API credentials at https://profile.intra.42.fr/oauth/applications
FORTY_TWO_CLIENT_ID=your_42_client_id
FORTY_TWO_CLIENT_SECRET=your_42_client_secret

# --- Upload & Minio Service ---
MINIO_USER=admin
MINIO_PASSWORD=minio_password
MINIO_BUCKET_NAME=mazad

# Get your API credentials by signing up at https://sightengine.com
SIGHTENGINE_USER=your_api_user_here
SIGHTENGINE_PASSWORD=your_api_secret


MINIO_PUB_URL=https://${MAZAD_IP}:443
MINIO_URL=${MINIO_PUB_URL}/api/v1/storage/${MINIO_BUCKET_NAME}

# --- Assets & Avatars ---
AVATAR_PATH=./frontend/src/assets
AVATAR_NAME=avatar.jpg
AVATAR_THUMBNAIL_NAME=avatar_thumb.jpg
AVATAR_THUMBNAIL_URL=${MINIO_PUB_URL}/api/v1/storage/${MINIO_BUCKET_NAME}/${AVATAR_THUMBNAIL_NAME}
AVATAR_URL=${MINIO_PUB_URL}/api/v1/storage/${MINIO_BUCKET_NAME}/${AVATAR_NAME}

# --- User Service ---
USER_DB_NAME=users-db

# --- Admin & Security ---
# Super admin password for restricted endpoints
# Used for: GET /api/v1/profile/users (list all users)
ADMIN_PASSWORD=your_strong_admin_password_here # Change to a random string!

# --- Kafka Topics ---
ITEM_CREATED_TOPIC=item.created
ITEM_UPDATED_TOPIC=item.updated
AUCTION_UPDATE_TOPIC=auction.update
NOTIFY_FRIENDS_TOPIC=notify.friends
FRIEND_REQUEST_TOPIC=friend.request
USER_AUTH_SYNC_TOPIC=user-auth.sync.topic
ITEM_CANCELLED_TOPIC=item-cancel-topic
CHAT_MESSAGES_TOPIC=chat.messages.topic

# --- Notification Service ---
NOTIFICATION_DB_USER=your_db_user
NOTIFICATION_DB_PASSWORD=notification_password
NOTIFICATION_DB_NAME=notification-DB

# --- Chat Service ---
CHAT_SERVICE_DB_NAME=chat-service-db

# --- Frontend Configuration ---
FRONT_URL=https://${MAZAD_IP}
ALLOWED_ORIGINS=${FRONT_URL}

# --- SSL Configuration ---
SSL_KEYSTORE_PASSWORD=your_keystore_password
