POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST_CONNECT=localhost:5000 # if you want to connect from the host to the postgres container
DB_DOCKER_CONNECT=postgres:5432 # if you to connect from the docker network
DB_URL=jdbc:postgresql://${DB_DOCKER_CONNECT}
PGDATA=/data/postgres

API_KEY=

# api-gateway
GATEWAY_REDIS_HOST=redis
GATEWAY_REDIS_PORT=6379

# items-service
ITEMS_DB_NAME=
ITEMS_SERVICE_PORT=

# bidding-service 
BIDDING_DB_NAME=
BIDDING_SERVICE_PORT=

# auth-service
AUTH_DB_NAME=
AUTH_SERVER_PORT=
AUTH_SECRET_KEY=
ACCESS_TOKEN_MIN= #it can be empty
REFRESH_TOKEN_DAY= #it can be empty

