services:
  postgres:
    container_name: postgres-c
    image: postgres:latest
    volumes:
      - postgres-v:${PGDATA}
      - ./infrastructure/postgres/init-scripts:/docker-entrypoint-initdb.d/
    ports:
      - "5000:5432"
    networks:
      mazad-network:
    restart: unless-stopped
    env_file: .env
#
  redis:
    container_name: redis-c
    image: redis:8.4.0-bookworm
    ports:
      - "6379"
    networks:
      mazad-network:
    restart: unless-stopped


  mazad-gateway:
    build: ./backend/mazad-gateway/
    container_name: mazad-gateway-c
    image: mazad-gateway
    environment:
      - SPRING_DATA_REDIS_HOST=${GATEWAY_REDIS_HOST}
      - SPRING_DATA_REDIS_PORT=${GATEWAY_REDIS_PORT}
      - AUTH_SECRET_KEY=${AUTH_SECRET_KEY}
      - ITEMS_SERVICE_PORT=${ITEMS_SERVICE_PORT}
      - API_KEY=${API_KEY}
      - AUTH_SERVER_PORT=${AUTH_SERVER_PORT}
      - USER_SERVER_PORT=${USER_SERVER_PORT}
    ports:
      - "8080:8080"
    networks:
      mazad-network:
    restart: on-failure
##
  items-service:
    build: ./backend/item-service/
    container_name: item-service-c
    image: items-service
    environment:
      - DB_URL=${DB_URL}/${ITEMS_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - ITEMS_SERVICE_PORT=${ITEMS_SERVICE_PORT}
    depends_on:
      - postgres
      - mazad-gateway
    ports:
    - "${ITEMS_SERVICE_PORT}:${ITEMS_SERVICE_PORT}" #this should be removed, accept connection only via Gateway api
    networks:
      mazad-network:
    restart: on-failure


  bidding-service:
    image: bidding-service-img:1
    build: ./backend/bidding-service/
    container_name: bidding-service
    environment:
     - DB_URL=${DB_URL}
     - DB_NAME=${BID_DB_NAME}
     - DB_USER=${BID_DB_USER}
     - DB_PASSWORD=${BID_DB_PASSWORD}
    depends_on:
      - postgres
      - mazad-gateway
    ports:
      - "${BIDDING_SERVICE_PORT}:${BIDDING_SERVICE_PORT}"
    networks:
      mazad-network:
    restart: on-failure

  auth-service:
    build: ./backend/auth-service/
    container_name: auth-service
    image: auth-service-img
    depends_on:
      - postgres
      - mazad-gateway
    environment:
      - DB_URL=${DB_URL}
      - AUTH_DB_NAME=${AUTH_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - AUTH_SERVER_PORT=${AUTH_SERVER_PORT}
      - AUTH_SECRET_KEY=${AUTH_SECRET_KEY}
      - ACCESS_TOKEN_MIN=${ACCESS_TOKEN_MIN}
      - REFRESH_TOKEN_DAY=${REFRESH_TOKEN_DAY}
      - USER_AUTH_SYNC_KEY=${USER_AUTH_SYNC_KEY}
      - USER_SERVICE_URL=${USER_SERVICE_URL}
    networks:
      mazad-network:
    restart: on-failure

  user-service:
    build: ./backend/user-service/
    container_name: user-service
    image: user-service-img
    depends_on:
      - postgres
      - mazad-gateway
    environment:
      - DB_URL=${DB_URL}
      - USER_DB_NAME=${USER_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - USER_SERVER_PORT=${USER_SERVER_PORT}
      - USER_AUTH_SYNC_KEY=${USER_AUTH_SYNC_KEY}
      - USER_AVATAR_URL=${USER_AVATAR_URL}
      - USER_AVATAR_THUMBNAIL_URL=${USER_AVATAR_THUMBNAIL_URL}
    networks:
      mazad-network:
    restart: on-failure


  kafka-service:
    container_name: kafka-c
    image: apache/kafka:latest
    ports:
      - "${KAFKA_SERVICE_PORT}:${KAFKA_SERVICE_PORT}"
    environment:
      KAFKA_NODE_ID: 1 # unique id for this kafka node

      KAFKA_PROCESS_ROLES: broker,controller # defines the role of this node

      KAFKA_LISTENERS: >
        BROKER://0.0.0.0:9092,
        CLIENT://0.0.0.0:9093,
        CONTROLLER://0.0.0.0:9094

      KAFKA_ADVERTISED_LISTENERS: >
        CLIENT://kafka-service:9093,
        BROKER://kafka-service:9092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: >
        BROKER:PLAINTEXT,
        CLIENT:PLAINTEXT,
        CONTROLLER:PLAINTEXT

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-service:9094

      KAFKA_INTER_BROKER_LISTENER_NAME: BROKER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    networks:
      mazad-network:
    restart: on-failure


  minio:
    image: minio/minio:latest
    container_name: mazad-minio
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    networks:
      - mazad-network
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

    healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
          interval: 30s
          timeout: 20s
          retries: 3

  minio-setup:
    image: minio/mc:latest
    container_name: mazad-minio-setup
    environment:
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}
    networks:
      - mazad-network
    depends_on:
      minio:
        condition: service_healthy
    volumes:
      - ./infrastructure/minio-service/init-minio.sh:/usr/bin/init-minio.sh
    entrypoint: ["/bin/sh", "/usr/bin/init-minio.sh"]

  upload-service:
    build: ./backend/upload-service
    container_name: upload-service-c
    image: upload-service:latest
    environment:
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME}
      MINIO_PUB_URL: ${MINIO_PUB_URL}
    ports:
      - "${UPLOAD_PORT}:8080"
    networks:
      - mazad-network
    depends_on:
      minio-setup:
        condition: service_completed_successfully

networks:
  mazad-network:
    name: mazad-network
    driver: bridge

volumes:
  postgres-v:
    name: postgres-v
  minio_data:


