services:
  postgres:
    container_name: postgres-c
    image: postgres:latest
    volumes:
      - postgres-v:${PGDATA}
      - ./init-scripts:/docker-entrypoint-initdb.d/
    ports:
      - "5000:5432"
    networks:
      mazad-network:
    restart: unless-stopped
    env_file: .env

  redis:
    container_name: redis-c
    image: redis:8.4.0-bookworm
    ports:
      - "6379"
    networks:
      mazad-network:
    restart: unless-stopped


  mazad-gateway:
    build: ./backend/mazad-gateway/
    container_name: mazad-gateway-c
    image: mazad-gateway
    environment:
      - SPRING_DATA_REDIS_HOST=${GATEWAY_REDIS_HOST}
      - SPRING_DATA_REDIS_PORT=${GATEWAY_REDIS_PORT}
      
    ports:
      - "8080:8080"
    networks:
      mazad-network:
    restart: on-failure
    env_file: .env
  
  items-service:
    build: ./backend/item-service/
    container_name: item-service-c
    image: items-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres/${ITEMS_DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}
      - SERVER_PORT=${ITEMS_SERVICE_PORT}
    depends_on:
      - postgres
    ports:
    - "4000:8000"
    networks:
      mazad-network:
    restart: on-failure
  minio:
    image: minio/minio:latest
    container_name: mazad-minio
    ports:
      - "${MINIO_API_PORT}:9000"  
      - "${MINIO_CONSOLE_PORT}:9001"  
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
    networks:
      - mazad-network
    volumes:
      - minio_data:/data   
    command: server /data --console-address ":9001"
    
    healthcheck:
          test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
          interval: 30s
          timeout: 20s
          retries: 3

  minio-setup:
    image: minio/mc:latest
    container_name: mazad-minio-setup
    environment:
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    networks:
      - mazad-network
    depends_on:
      minio:
        condition: service_healthy 
    volumes:
      - ./init-scripts/init-minio.sh:/usr/bin/init-minio.sh
    entrypoint: ["/bin/sh", "/usr/bin/init-minio.sh"]

  upload-service:
    build: ./backend/upload-service
    container_name: upload-service-c
    image: upload-service:latest
    environment:
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    ports:
      - "${UPLOAD_PORT}:8080" 
    networks:
      - mazad-network
    depends_on:
      minio-setup:
        condition: service_completed_successfully

networks:
  mazad-network:
    name: mazad-network
    driver: bridge

volumes:
  postgres-v:
    name: postgres-v
  minio_data:


