services:
  postgres:
    container_name: postgres-c
    image: postgres:latest
    volumes:
      - postgres-v:${PGDATA}
      - ./init-scripts:/docker-entrypoint-initdb.d/
    ports:
      - "5000:5432"
    networks:
      mazad-network:
    restart: unless-stopped
    env_file: .env

  redis:
    container_name: redis-c
    image: redis:8.4.0-bookworm
    ports:
      - "6379"
    networks:
      mazad-network:
    restart: unless-stopped


  mazad-gateway:
    build: ./backend/mazad-gateway/
    container_name: mazad-gateway-c
    image: mazad-gateway
    environment:
      - SPRING_DATA_REDIS_HOST=${GATEWAY_REDIS_HOST}
      - SPRING_DATA_REDIS_PORT=${GATEWAY_REDIS_PORT}
      - AUTH_SECRET_KEY=${AUTH_SECRET_KEY}
      - API_KEY=${API_KEY}
      # - AUTH_SERVER_PORT=${AUTH_SERVER_PORT}
      
    ports:
      - "8080:8080"
    networks:
      mazad-network:
    restart: on-failure
  
  items-service:
    build: ./backend/item-service/
    container_name: item-service-c
    image: items-service
    environment:
      - DB_URL=${DB_URL}/${ITEMS_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - ITEMS_SERVICE_PORT=${ITEMS_SERVICE_PORT}
    depends_on:
      - postgres
    ports:
    - "${ITEMS_SERVICE_PORT}:${ITEMS_SERVICE_PORT}" #this should be removed, accept connection only via Gateway api
    networks:
      mazad-network:
    restart: on-failure



  auth-service:
    build: ./backend/auth-service/
    container_name: auth-service
    image: auth-service-img
    env_file:
      - .env
    depends_on:
      - postgres
    environment:
      - DB_URL=${DB_URL}
      - AUTH_DB_NAME=${AUTH_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - AUTH_SERVER_PORT=${AUTH_SERVER_PORT}
      - AUTH_SECRET_KEY=${AUTH_SECRET_KEY}
      - ACCESS_TOKEN_MIN=${ACCESS_TOKEN_MIN}
      - REFRESH_TOKEN_DAY=${REFRESH_TOKEN_DAY}
    # ports:
    #   - "${AUTH_SERVER_PORT}:${AUTH_SERVER_PORT}"
    networks:
      mazad-network:
    restart: on-failure



networks:
  mazad-network:
    name: mazad-network
    driver: bridge

volumes:
  postgres-v:
    name: postgres-v


