spring:
  application:
    name: mazad-gateway

  config:
    import: optional:file:../../.env[.properties]

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - AddRequestHeader=X-Source, Mazad-Gateway

          routes:
            - id: item-service-route
              uri: http://items-service:${ITEMS_SERVICE_PORT}
              predicates:
                - Path=/api/v1/items/**, /api/v1/categories/**
              filters:
                - name: ApiKeyFilter
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 1
                    redis-rate-limiter.burstCapacity: 2
                    redis-rate-limiter.requestedTokens: 1
                    key-resolver: "#{@resolveKey}"

            - id: auth-service-route
              uri: http://auth-service:${AUTH_SERVER_PORT}
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - StripPrefix=2

